<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="<%- asset.bootstrap %>">
</head>
<body>
<div id="app" class="container">
    <%- content %>
</div>
</body>
<script src="<%- asset.vue %>"></script>
<script src="<%- asset.vueStrap %>"></script>
<script type="text/javascript">
  var vm = new Vue({
    components: {
      vSelect: VueStrap.select,
      accordion: VueStrap.accordion,
      panel: VueStrap.panel,
      dynamicPanel: VueStrap.dynamicPanel
    },
    el: "#app"
  });
  vm.$on('retriever:fetched', function (el) {
    vm.$compile(el);
  });
</script>
</html>
