<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="<%- asset.bootstrap %>">
    <link rel="stylesheet" href="<%- asset.highlight %>">
    <link rel="stylesheet" href="<%- asset.markbind %>">
    <link rel="stylesheet" href="<%- asset.siteNavCss %>">
    <% if (faviconUrl) { %><link rel="icon" href="<%- faviconUrl %>"><% } %>
</head>
<body>
<div id="app" class="container-fluid">
    <%- content %>
</div>
</body>
<script src="<%- asset.vue %>"></script>
<script src="<%- asset.vueStrap %>"></script>
<script>
    const baseUrl = '<%- baseUrl %>'
</script>
<script src="<%- asset.setup %>"></script>
<script src="<%- asset.siteNavJs %>"></script>
</html>
