<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="<%- asset.bootstrap %>">
</head>
<body>
<div id="app" class="container-fluid">
    <%- content %>
</div>
</body>
<script src="<%- asset.vue %>"></script>
<script src="<%- asset.vueStrap %>"></script>
<script src="<%- asset.setup %>"></script>
</html>
